*CMakeCache.txt
*CMakeFiles/
*Makefile
*CMakeDirectoryInformation.cmake
*cmake_install.cmake
*install_manifest.txt
*subsampling
*core
build/
*.asv
reconstruction/matlab/CS_LAB_GUI/parameter_currRun_1.m
reconstruction/matlab/CS_LAB_GUI/parameter_currRun_2.m
reconstruction/matlab/CS_LAB_GUI/samplingPattern.txt