*CMakeCache.txt
*CMakeFiles/
*Makefile
*CMakeDirectoryInformation.cmake
*cmake_install.cmake
*install_manifest.txt
*subsampling
*core

# in subsampling folder
acquisition/subsampling_class/Subsample
acquisition/subsampling_class/Subsample.exe
